doctype html
html(lang="en")
    head
        // Core inclusion
        link(rel='stylesheet', href='/core/css/style.css')
        script(src="/core/js/jquery-1.8.2.min.js")
        script(src="/core/js/jquery.mcjs.core.js")
        script(src="/core/js/jquery.remote.js")
        // App specific
        script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
        script(src="/mediacenterjs-maps/public//js/jquery.maps.js")
        link(rel='stylesheet', href='/mediacenterjs-maps/public/css/style.css')
        title Maps
        script.
            $(function(){
                $('body').mcjs();
                $('body').mcjsRemote();
            });
    body
        #header
            a.backlink(href="/") &#xe113;
            h1 Maps 
        #map-canvas 
        #routebox
            .row.mcjs-rc-controllable
                input#departure.mcjs-rc-clickable(type="text",placeholder="Departure",onchange="calcRoute();")
            .row.mcjs-rc-controllable
                input#arrival.mcjs-rc-clickable(type="text",placeholder="Arrival",onchange="calcRoute();")
            #directions-panel