extends /layout

block declarations
	- additional_title = Maps;

block additional_css
	link(rel='stylesheet', href='/mediacenterjs-maps/public/css/style.css')

block additional_scripts
	script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false")
	script(src="/mediacenterjs-maps/public/js/jquery.maps.js")

block body
		header
			.container
				.row
					.col-md-12
						a.backlink(href="/") &#xe113;
						h1.hidden-xs Maps
		#map-container
			#map-canvas 
			#routebox
				.row.mcjs-rc-controllable
					input#departure.mcjs-rc-clickable(type="text",placeholder="Departure",onchange="calcRoute();")
				.row.mcjs-rc-controllable
					input#arrival.mcjs-rc-clickable(type="text",placeholder="Arrival",onchange="calcRoute();")
				#directions-panel